{% extends 'layout.html' %} {% block container %}
{% include "includes/carousel.html" %}
<section id="first-section" class="first"> <div data-aos="fade-right" data-aos-duration="1000"
  data-aos-easing="ease-in-out">
  <div class="about">
    <h3>Selam ben Arda</h3>
    <p>Kendi çapında biri Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eum, corporis a. Blanditiis accusantium a, laboriosam iste quibusdam provident repellat repellendus libero ducimus, vero quam? Illum laudantium corporis quis fugiat omnis itaque temporibus quos expedita tempore sed. Doloribus expedita aliquid sequi.aaaaaaaaaaaaaaaasdasdasdasdasdloremö10 </p>
  </div>
  <hr>
  <div class="includes">
    <h3>Neler mi içerir?</h3>
    <ul>
      <li>Saçma Genel Kültür</li>
      <li>Gezi Rotaları</li>
      <li>Yazılar</li>
      <li>Fotoğraflar</li>
    </ul>
  </div></div>
</section>
<section class="second"><div data-aos="fade-left" data-aos-duration="1000"
  data-aos-easing="ease-in-out">
  <div id="owl-two" class="owl-carousel">
    <div>
      <div class="index-card">
        <img src="https://images.unsplash.com/photo-1625140696288-672f273f9fee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="" class="card-background">
        <h3 class="card-header">Bla Bla hakkında yazı</h3>
        <p class="card-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae aliquid a ab nobis ipsa est quibusdam similique obcaecati, eum magnam hic voluptatem dolores voluptas velit delectus exercitationem in labore, nihil repudiandae iure magni quae et! Corrupti sed nobis temporibus illo!</p>      
      </div>
  </div>
  <div>
    <div class="index-card">
      <img src="https://images.unsplash.com/photo-1625084924109-030fd9d8b8b6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2002&q=80" alt="" class="card-background">
      <h3 class="card-header">Bla Bla hakkında yazı</h3>
      <p class="card-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae aliquid a ab nobis ipsa est quibusdam similique obcaecati, eum magnam hic voluptatem dolores voluptas velit delectus exercitationem in labore, nihil repudiandae iure magni quae et! Corrupti sed nobis temporibus illo!</p>      
    </div>
</div>
<div>
  <div class="index-card">
    <img src="https://images.unsplash.com/photo-1625122563679-fb48c013836a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=633&q=80" alt="" class="card-background">
    <h3 class="card-header">Bla Bla hakkında yazı</h3>
    <p class="card-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae aliquid a ab nobis ipsa est quibusdam similique obcaecati, eum magnam hic voluptatem dolores voluptas velit delectus exercitationem in labore, nihil repudiandae iure magni quae et! Corrupti sed nobis temporibus illo!</p>      
  </div>
</div>
<div>
  <div class="index-card">
    <img src="https://images.unsplash.com/photo-1625140696288-672f273f9fee?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1000&q=80" alt="" class="card-background">
    <h3 class="card-header">Bla Bla hakkında yazı</h3>
    <p class="card-paragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Recusandae aliquid a ab nobis ipsa est quibusdam similique obcaecati, eum magnam hic voluptatem dolores voluptas velit delectus exercitationem in labore, nihil repudiandae iure magni quae et! Corrupti sed nobis temporibus illo!</p>      
  </div>
</div>
</div>
</section>
<section class="third"><div>


</div></section>

{% endblock container %}
